.text_input {
  background-color: white;
  border: 1px solid black;
  margin: 8px;
  font-size: 24px;
  height: 32px;
}

.reverse_container {
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.calculate_button {
  background-color: lightgray;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.calculate_text {
  font-size: 24px;
  margin: 0 16px;
}

.coordinate_text {
  font-size: 32px;
}
